/data
/code/data_preparation
/code/local_settings.py
python.env
job_*
/out
*.e[0-9][0-9][0-9]
*.o[0-9][0-9][0-9]
*.e[0-9][0-9][0-9][0-9]
*.o[0-9][0-9][0-9][0-9]
*.e[0-9][0-9][0-9][0-9][0-9]
*.o[0-9][0-9][0-9][0-9][0-9]
time.dat
*.pyc
code/__pycache__
code/job_earth
