/data
/code/data_preparation
python.env
job_an_3d
job_an_osc
job_earth
/out
*.e[0-9][0-9][0-9]
*.o[0-9][0-9][0-9]
*.e[0-9][0-9][0-9][0-9]
*.o[0-9][0-9][0-9][0-9]
*.e[0-9][0-9][0-9][0-9][0-9]
*.o[0-9][0-9][0-9][0-9][0-9]
time.dat