/data
/code/data_preparation
/code/local_settings.py
python.env
job_*
/out
*.e[0-9][0-9][0-9]
*.o[0-9][0-9][0-9]
*.e[0-9][0-9][0-9][0-9]
*.o[0-9][0-9][0-9][0-9]
*.e[0-9][0-9][0-9][0-9][0-9]
*.o[0-9][0-9][0-9][0-9][0-9]
*.e[0-9][0-9][0-9][0-9][0-9]
*.o[0-9][0-9][0-9][0-9][0-9]
time.dat
code/__pycache__/earth_movement.cpython-39.pyc
code/job_earth
code/*.png
code/__pycache__/parameters.cpython-39.pyc
code/maxvs.png
code/job_an_3d
code/job_an_osc
code/__pycache__/parameters.cpython-311.pyc
code/__pycache__/local_settings.cpython-311.pyc
code/__pycache__/input_data.cpython-311.pyc
code/__pycache__
